body{
    background-color: rgb(29, 29, 29);
}
.webname{font-style: italic;}
menu {
    background-color: #202020;   /* change this to any color */
    margin-top: 0px;
    
    color:rgb(90, 92, 93);
}
h1 {color:aliceblue;font-style: italic;background-color: rgb(9, 1, 59);margin-top: 0;text-align: center;}
p {color: aliceblue;font-style: italic;}
a { 
    color: rgb(226, 222, 222);
    text-decoration: none;
    
}
a:visited {
    color: rgb(175, 171, 171);
}