
        body {
            font-family: Arial, sans-serif;
            background-color: #292929; 
            padding: 0px;
        }
menu {
    background-color: #202020;   
    margin-top: 0px;margin: 0px 0px 20px 0px;
    
    color:rgb(105, 105, 105);

}
.webname{font-style: italic;}
        h1 {
            text-align: center;color: aliceblue;font-style: italic;background-color: rgb(8, 2, 68);margin-top: 0px;
        }

        .contact-box {
            background: rgb(8, 0, 49);
            padding: 25px;
            max-width: 500px;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 6px;
        }

        button {
            width: 100%;
            padding: 12px;
            background: brown;
            color: white;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            cursor: pointer;
        }

        button:hover {
            background: #5a2e2e;
        }
        a { 
    color: rgb(226, 222, 222);
    text-decoration: none;
    
}
a:visited {
    color: rgb(175, 171, 171);
}