menu {
    background-color: #202020;   /* change this to any color */
    margin-top: 0px;margin: 0px 0px 0px 0px;
    color:rgb(105, 105, 105);
    font-style: italic;
}
.webname{font-style: italic;}
img {width: 290px; height:260px}
h1{font-style: italic;text-align: center;background-color: rgb(5, 1, 52);margin-top: 0px;}
body {background-color: rgb(29, 29, 29);color:aliceblue}
h3{font-size: 28px; font-style: italic; color: aliceblue;}
p {font-style: italic;}
a { 
    color: rgb(226, 222, 222);
    text-decoration: none;
    
}
a:visited {
    color: rgb(175, 171, 171);
}   